@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header nav {
  background-color: #0e2a85;
}
header nav div .header-titulo {
  color: #ffffff;
  text-align: left;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0 15px;
}
header nav div div ul li {
  list-style: none;
  margin: 5px 15px;
  padding: 10px 18px;
}
header nav div div ul li .header-text {
  color: #ffffff;
  padding: 10px;
}

.partido-der-izq {
  transition: all 1s;
}
.partido-der-izq:hover {
  transform: scale(1.03);
}
.partido-der-izq .div-header {
  height: 3.5em;
  background-color: #0e2a85;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 20px 20px 0 0;
}

.partido-centro {
  padding: 0;
  transition: all 1s;
}
.partido-centro:hover {
  transform: scale(1.03);
}
.partido-centro .div-header-dos {
  height: 3.5em;
  background-color: #0e2a85;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 20px 20px 0 0;
}

.titulos-h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px 0 0 0;
}

.border {
  border: 1px solid #e6e6e6;
  border-radius: 0 0 20px 20px;
}

.div-body {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-body .resultado {
  background-color: #e6e6e6;
  width: 5em;
  margin: 20px;
  padding: 8px;
  color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
}

.div-datos {
  text-align: center;
}
.div-datos h4 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 5px 0 0 0;
}

footer {
  background-color: #0e2a85;
  height: 120px;
}
footer p {
  color: #ffffff;
  padding: 20px 0 10px 0;
  text-align: center;
}
footer .footer-rrss {
  display: flex;
  justify-content: center;
}
footer .footer-rrss .rrss-icon {
  margin: 0 5px;
}

a {
  text-decoration: none;
}

.titulos-h2 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
  margin: 20px 0;
}

.partidos {
  padding: 50px 0;
}
.partidos h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
  padding: 0 0 0.8em 0;
}

.tienda {
  background-color: #f0f0f0;
  padding: 25px;
}
.tienda .tienda-titulo {
  color: #10175c;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0 0 15px 0;
}
.tienda .cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em 0;
}
.tienda .cards-grid .card-producto {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}
.tienda .cards-grid .card-producto .card-texto {
  background-color: #e6e6e6;
  color: #1f1f1f;
  padding: 10px 0 5px 0;
}
.tienda .cards-grid .card-producto .card-texto h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px 0 0 0;
}
.tienda .cards-grid .card-producto .card-texto p {
  font-size: 1.2em;
  font-weight: 400;
}
.tienda .boton-container {
  display: flex;
  justify-content: center;
}
.tienda .boton-container .boton-tienda {
  background-color: #0e2a85;
  margin: 5px;
  padding: 16px;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}
.tienda .boton-container .boton-tienda:hover {
  animation: cambioColor 1s;
}
@keyframes cambioColor {
  0% {
    background-color: #0e2a85;
  }
  100% {
    background-color: #10175c;
  }
}

/*# sourceMappingURL=style.css.map */
