@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header nav {
  background-color: #0e2a85;
}
header nav div .container-titulo {
  display: flex;
  align-items: center;
}
header nav div .container-titulo h1 {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  padding: 0 0 0 25px;
}
header nav div div ul li {
  list-style: none;
  margin: 5px 0;
  padding: 10px 15px;
}
header nav div div ul li::after {
  transition-duration: all 0.5s;
}
header nav div div ul li .header-text {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
header nav div div ul li .header-text:hover {
  border-bottom: 3px solid #ffffff;
}

.active {
  border-bottom: 3px solid #ffffff;
}

.primera-fixture div .fixture-grid .fixture-item, .div-body .resultado, .div-body, .div-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partido-der-izq {
  transition: all 1s;
}
.partido-der-izq:hover {
  transform: scale(1.03);
}

.partido-centro {
  transition: all 1s;
}
.partido-centro:hover {
  transform: scale(1.03);
}

.border {
  border: 1px solid #e6e6e6;
  border-radius: 0 0 20px 20px;
}

.div-header {
  height: 3.5em;
  background-color: #0e2a85;
  padding: 5px;
  color: #ffffff;
  border-radius: 20px 20px 0 0;
}

.div-body {
  margin: 20px 0;
}
.div-body .resultado {
  background-color: #e6e6e6;
  width: 5em;
  margin: 20px;
  padding: 8px;
  color: #1f1f1f;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}

.titulos-h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px 0 0 0;
}

.div-datos {
  text-align: center;
}
.div-datos h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 5px 0;
}

.primera-fixture div .fixture-grid .fixture-item, .div-header, .div-body, .div-body .resultado {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #0e2a85;
  padding: 70px 0;
  text-align: center;
  color: white;
}
footer .logo-csdm {
  display: block;
  margin: 0 auto;
  width: 80px;
  padding-bottom: 20px;
}
footer .list-inline .list-inline-item {
  padding: 10px 15px;
}
footer .list-inline .list-inline-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border-bottom: 3px solid transparent;
}
footer .list-inline .list-inline-item a:hover {
  border-bottom: 3px solid #ffffff;
}

.tienda-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em 0 2em 0;
}
.tienda-grid .card-producto {
  margin: 0;
  border: 1px solid #e6e6e6;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  transition: box-shadow 0.3s;
}
.tienda-grid .card-producto:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.tienda-grid .card-producto img {
  width: 100%;
}
.tienda-grid .card-producto h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 5px 0 0 0;
  padding: 5px 0;
}
.tienda-grid .card-producto p {
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 0;
}
@media (max-width: 540px) {
  .tienda-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 1140px) {
  .tienda-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.primera-fixture div .fixture-grid .fixture-item, .div-header, .div-body, .div-body .resultado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primera-jugadores {
  padding: 0 0 60px 0;
}

.bold {
  font-weight: 500;
}

.titulo-plantel {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  color: #1f1f1f;
  padding: 0 0 15px 0;
}

.primera-fixture {
  background-color: #f0f0f0;
  padding: 40px 0 80px 0;
  text-align: center;
}
.primera-fixture div ul {
  list-style: none;
}
.primera-fixture div .fixture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 40px);
  gap: 15px 50px;
  padding: 15px 0;
}
.primera-fixture div .fixture-grid .fixture-item {
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}
.primera-fixture div .fixture-grid .fixture-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
@media (max-width: 540px) {
  .primera-fixture div .fixture-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 1140px) {
  .primera-fixture div .fixture-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actividades {
  padding: 0 0 80px 0;
}
.actividades .card-actividades {
  background-color: #f0f0f0;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  transition: all 1s;
}
.actividades .card-actividades:hover {
  transform: scale(1.04);
}
.actividades .card-actividades h3 {
  color: #1f1f1f;
  padding: 15px 0;
}

.club-main div p {
  margin: 30px 0;
}

.club-estadio {
  padding: 20px 0 50px 0;
}

.estadio-grid {
  display: grid;
  grid-template-areas: "img img2" "iframe iframe";
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.hover-zoom {
  height: 100%;
  overflow: hidden;
}

.hover-zoom-remanso {
  height: 100%;
  overflow: hidden;
}

.estadio-grid-platea {
  grid-area: img;
}

.estadio-platea {
  transition: transform 0.5s ease;
}
.estadio-platea:hover {
  transform: scale(1.1);
}

.estadio-grid-campo {
  grid-area: img2;
}

.estadio-grid-mapa {
  grid-area: iframe;
}

.estadio-campo {
  transition: transform 0.5s ease;
}
.estadio-campo:hover {
  transform: scale(1.1);
}

.club-remanso {
  background-color: #f0f0f0;
  margin: 25px 0 0 0;
  text-align: center;
  padding: 10px 0 20px 0;
}

.remanso-h6 {
  font-weight: 500;
  font-size: 16px;
  color: #1f1f1f;
  line-height: 24px;
  padding: 0 80px 30px 80px;
}

.remanso-grid {
  display: grid;
  grid-template-areas: "img1 img2" "img3 img3" "iframe iframe";
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.remanso-grid-mapa {
  grid-area: iframe;
}

.remanso-grid-uno {
  grid-area: img1;
}

.remanso-entrada {
  transition: transform 0.5s ease;
}
.remanso-entrada:hover {
  transform: scale(1.1);
}

.remanso-grid-dos {
  grid-area: img2;
}

.remanso-colonia {
  transition: transform 0.5s ease;
}
.remanso-colonia:hover {
  transform: scale(1.1);
}

.remanso-grid-tres {
  grid-area: img3;
}

.remanso-cancha {
  transition: transform 0.5s ease;
}
.remanso-cancha:hover {
  transform: scale(1.1);
}

@media (max-width: 540px) {
  .estadio-grid {
    grid-template-areas: "img" "img2" "iframe";
    grid-template-columns: repeat(1, 1fr);
  }

  .remanso-grid {
    display: grid;
    grid-template-areas: "img1" "img2" "img3" "iframe";
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 1140px) {
  .estadio-grid {
    grid-template-areas: "img" "img2" "iframe";
    grid-template-columns: repeat(1, 1fr);
  }

  .remanso-grid {
    grid-template-areas: "img1" "img2" "img3" "iframe";
    grid-template-columns: repeat(1, 1fr);
  }
}
.div-header, .div-body, .div-body .resultado, .primera-fixture div .fixture-grid .fixture-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.titulos-h2 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
  padding: 40px 0 18px 0;
}

/* inicio */
.partidos {
  padding-block: 80px;
}
.partidos h2 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
  padding: 0 0 1em 0;
}

.tienda {
  background-color: #f0f0f0;
  padding: 80px 25px;
}
.tienda .tienda-titulo {
  color: #1f1f1f;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  padding: 0 0 15px 0;
}
.tienda .cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em 0;
}
.tienda .cards-grid .card-producto {
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  margin: 0;
  border: 1px solid #e6e6e6;
  transition: box-shadow 0.3s;
}
.tienda .cards-grid .card-producto:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.tienda .cards-grid .card-producto .card-texto {
  background-color: #ffffff;
  color: #1f1f1f;
  padding: 10px 0 5px 0;
}
.tienda .cards-grid .card-producto .card-texto h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 5px 0;
}
.tienda .cards-grid .card-producto .card-texto p {
  font-size: 1.2em;
  font-weight: 600;
}
@media (max-width: 540px) {
  .tienda .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 1140px) {
  .tienda .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.boton-container {
  display: flex;
  justify-content: center;
}
.boton-container .boton-tienda {
  background-color: #0e2a85;
  margin: 24px 5px 0;
  padding: 14px 24px;
  border-radius: 14px;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.4s;
}
.boton-container .boton-tienda:hover {
  background-color: #1f1f1f;
  font-weight: 500;
}

.contacto {
  padding: 90px 0;
}
@media (min-width: 768px) and (max-width: 990px) {
  .contacto .contacto-form {
    display: flex;
    justify-content: center;
  }
}
.contacto .contacto-form .imagen-contacto {
  padding-right: 20px;
}
.contacto .contacto-form .contacto-h2 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: start;
  color: #1f1f1f;
  padding: 40px 0 18px 0;
}
.contacto .contacto-form .subtitulo {
  font-weight: 500;
  font-size: 16px;
  color: #1f1f1f;
  line-height: 24px;
  padding-bottom: 35px;
}

.form-group {
  padding: 10px 0;
}

/* fin inicio */

/*# sourceMappingURL=style.css.map */
