@import "../base/variables";

.partido-der-izq {transition: all 1s;
    &:hover {
        transform: scale(1.03)
        } 
    .div-header{
        height: 3.5em;
        background-color: $bg-color;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 20px 20px 0 0;
    }
}

.partido-centro {
    padding: 0;
    transition: all 1s;
    &:hover{
        transform: scale(1.03);
    }
    .div-header-dos{
        height: 3.5em;
        background-color: $bg-color;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 20px 20px 0 0; 
    }
}

.titulos-h3{
    font-size: 1.3em;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.border{
    border: 1px solid #e6e6e6;
    border-radius: 0 0 20px 20px;
}  

.div-body{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .resultado{
        background-color: #e6e6e6;
        width: 5em;
        margin: 20px;
        padding: 8px;
        color: #1f1f1f;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #f0f0f0;
    }
}


.div-datos{
    text-align: center;
    h4{
        font-size: 1.1em;
        font-weight: 400;
        margin: 5px 0 0 0;
    }
}