@import "../base/variables";

.club-main {
    div p {
        margin: 30px 0;
    }
}

.club-estadio {
    padding: 20px 0 50px 0;
}

.estadio-grid {
    display: grid;
    grid-template-areas:
    "img img2"
    "iframe iframe";
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.hover-zoom {
    height: 100%;
    overflow: hidden;
}

.hover-zoom-remanso {
    height:100%;
    overflow: hidden;
}

.estadio-grid-platea {
    grid-area: img;
}

.estadio-platea {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.estadio-grid-campo {
    grid-area: img2;
}

.estadio-grid-mapa {
    grid-area: iframe;
}

.estadio-campo {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.club-remanso {
    background-color: $bg-secondary;
    margin: 25px 0 0 0;
    text-align: center;
    padding: 10px 0 20px 0;
}

.remanso-h6 {
    font-weight: 500;
    font-size: 16px;
    color: #1f1f1f;
    line-height: 24px;
    padding: 0 80px 30px 80px;
}

.remanso-grid {
    display: grid;
    grid-template-areas:
    "img1 img2"
    "img3 img3"
    "iframe iframe";
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.remanso-grid-mapa {
    grid-area: iframe;
}

.remanso-grid-uno {
    grid-area: img1;
}

.remanso-entrada {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.remanso-grid-dos {
    grid-area: img2;
}

.remanso-colonia {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.remanso-grid-tres {
    grid-area: img3;
}

.remanso-cancha {
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 540px) {
    .estadio-grid {
        grid-template-areas:
        "img"
        "img2"
        "iframe";
        grid-template-columns: repeat(1, 1fr);
    }
    
    .remanso-grid {
        display: grid;
        grid-template-areas:
        "img1"
        "img2"
        "img3"
        "iframe";
        grid-template-columns: repeat(1, 1fr);
    }
    
    .remanso-h6 {
        font-weight: 500;
        font-size: 16px;
        color: #1f1f1f;
        line-height: 24px;
        padding: 0 15px 30px 15px;
    }
}

@media (min-width: 541px) and (max-width:1140px) {
    .estadio-grid {
        grid-template-areas:
        "img"
        "img2"
        "iframe";
        grid-template-columns: repeat(1, 1fr);
    }

    .remanso-grid {
        grid-template-areas:
        "img1"
        "img2"
        "img3"
        "iframe";
        grid-template-columns: repeat(1, 1fr);
    }

    .remanso-h6 {
        font-weight: 500;
        font-size: 16px;
        color: #1f1f1f;
        line-height: 24px;
        padding: 0 15px 30px 15px;
    }
}