@import "../base/variables";
@import "../base/extends";

footer {
    background-color: $bg-primary;
    padding: 70px 0;
    text-align: center;
    color: white;
    .logo-csdm {
        display: block;
        margin: 0 auto;
        width: 80px;
        padding-bottom: 20px;
    }
    .list-inline .list-inline-item {
        padding: 10px 15px;
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
            padding: 10px;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid #ffffff;
            }
        }
    }
}

