@import "../base/variables";

header{
    nav{
        background-color: $bg-primary;
        div{
            .container-titulo {
                display: flex;
                align-items: center;
                h1 {
                    margin: 0;
                    font-size: 1.5em;
                    color: #ffffff;
                    text-align: left;
                    font-weight: 500;
                    padding: 0 0 0 25px;
                }
            }
            div ul li {
                list-style: none;
                margin: 5px 0;
                padding: 10px 15px;
                .header-text {
                    color: #ffffff;
                    padding: 10px;
                    transition-duration: 0.4s;
                    &:hover {
                    font-weight: 500;
                    }
                }
            }
        }
    }
}